:root {
  --color-main: #1971c2;
  --color-main-darker: #228be6;
  --color-secondary: #90e0ef;
  --color-soft-gray: #f1f1f1;
  --bg-section: #051727;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: var(--color-soft-gray);
  line-height: 1.4;
  position: relative;
}

.header {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
  /* margin-bottom: 7rem; */
}
.slider {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to top right, var(--color-soft-gray), #f2f2f2);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "content image";
  transform: scale(0.95) translateX(100%) rotate(-45deg);
  grid-template-rows: auto;
  align-items: start;
  filter: blur(2px);
  justify-content: flex-start;
  transition: transform 1s ease, opacity 1s ease;
}
.slide.active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1) translateX(0) rotate(0);
  z-index: 2;
}

.content {
  z-index: 100;
  margin: 3.2rem;
  padding-left: 6rem;
  position: relative;
  z-index: 1000;
  align-self: center;
  grid-area: content;
}
.content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120rem;
  /* backdrop-filter: blur(3px); */
  z-index: -1;
}
.heading {
  font-size: 4.6rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  color: #1f4263;
}
.para {
  font-size: 1.9rem;
  margin-bottom: 3.2rem;
  /* color: rgba(0, 0, 0, 0.8); */
  color: #333;
  font-weight: 400;
}
.btn {
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  border: none;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s;
}
.main-btn {
  background-color: var(--color-main);
  color: #f1f1f1;
}
.main-btn:hover {
  background-color: var(--color-main-darker);
}
.header-img {
  height: 100%;
  position: relative;
  overflow: hidden;
  grid-area: image;
}
.header-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.header-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(241, 241, 241, 1) 0%,
    rgba(241, 241, 241, 0) 25%,
    rgba(241, 241, 241, 0) 75%,
    rgba(241, 241, 241, 0) 100%
  );
  pointer-events: none;
}
.btn--slider {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-main);
  border-radius: 50%;
  border: none;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--slider svg {
  width: 25px;
  height: 25px;
  stroke: #fff;
  stroke-width: 2.5px;
}
.btn-slider--left {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.btn-slider--right {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}
.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  z-index: 100;
}
.dots__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #666666;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.dots__dot--active {
  background-color: var(--color-main);
  opacity: 1;
}

/* Header nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9rem;
  padding: 2rem 10rem 2rem 6rem;
  z-index: 100;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-soft-gray);
  transition: all 1s ease;
  z-index: 1000;
}
.nav__logo {
  height: 9rem;
  width: 270px;
  object-fit: cover;
}
img {
  width: 100%;
  width: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4rem;
}
.nav__item {
  font-size: 1.7rem;
  position: relative;
  height: 2.7rem;
  width: max-content;
  overflow: hidden;
}
.nav__item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-main-darker);
  bottom: 0px;
  left: 0;
  border-radius: 200px;
  transform: translateX(-150px);
  transition: transform 0.4s ease;
}
.nav__item:hover::before {
  transform: translateX(0);
}

/* Top nav */
.top-nav {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 6rem;
  background-color: var(--color-main-darker);
}
.nav-top__item {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #f1f1f1;
}
.nav-top__item svg {
  stroke: #1971c2;
  fill: #fffefe;
  width: 20px;
  height: 20px;
}
/* RESUBLE CLASS */
.container {
  max-width: 120rem;
  margin: 0 auto;
}
a,
a:active {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.section {
  position: relative;
  margin-top: 10rem;
  padding-bottom: 10rem;
  /* padding: 10rem 0; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  transition: transform 1s, opacity 1s;
}
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
#services {
  overflow: hidden;
}
#services::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/images/backgound-sec.svg);
  background-repeat: repeat-x;
  background-position: -10% 60%;
  transform: rotate(20deg);
  background-size: 40%;
  opacity: 0.6;
  z-index: -1;
}
.heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  padding: 1.5rem;
  position: relative;
  color: var(--color-main);
}
.heading::before {
  content: "";
  position: absolute;
  width: 24px;
  bottom: 9px;
  height: 2px;
  background-color: #1971c2;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.main-heading {
  font-size: 4.2rem;
  color: #0c3256;
  text-transform: capitalize;
  max-width: 60rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
.section-link {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.5s ease;
  display: block;
}
.section-link:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.boxes {
  display: grid;
}
.boxes-about {
  grid-template-columns: 1fr 1fr;
}
.box {
  width: 100%;
  padding: 1.5rem;
}
.ourInfo {
  border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.features__img {
  transition: all 1s ease-in-out;
}
.lazy-img {
  filter: blur(24px);
}
.close,
.mobile-menu {
  background: none;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: 0;
  transition: all 0.4s ease;
}
.close-product {
  grid-template-columns: 0 1fr;
}
.close:hover {
  color: var(--color-main);
}
/* Section WHAT WE DO */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}
.card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #e7f5ff;
  transition: all 0.4s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover .card-img img {
  transform: scale(1.02);
}

.card-img {
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  transition: transform 0.5s ease;
}
.card-content {
  padding: 1.3rem 2rem;
  color: #0c3256;
  position: relative;
}
.card-content .tag {
  font-size: 1.5rem;
  background-color: #228be6;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translate(25%, -50%);
}
.card-title {
  font-size: 1.9rem;
  line-height: 1.4;
  margin-top: 2rem;
  text-transform: uppercase;
}
.card-para {
  font-size: 1.3rem;
  line-height: 1.7;
  word-break: normal;
}

/* SECTION OUR COMPANY */
.cards-about {
  padding: 7rem 0 5rem 0;
  position: relative;
  gap: 0;
  grid-template-columns: repeat(3, 30rem);
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.our-service {
  position: relative;
  border-radius: 0;
  overflow: visible;
  border: 1px solid #f1f1f1;
}
.our-service::before {
  content: "";
  width: 1px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.09);
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
.line-our::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 70px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.09);
  z-index: -1;
}
.line--1::before {
  left: 12%;
}
.line--2::before {
  left: 37%;
}
.line--3::before {
  left: 63%;
}
.line--4::before {
  left: 89%;
}
.our-service .card-content svg {
  width: 30px;
  width: 30px;
}
.our-service .card-content svg path,
.input-news .form-news-btn svg path {
  stroke: #fff;
}
.ourInfo .note,
.about-boxes .note {
  font-size: 2.7rem;
  font-weight: 400;
  color: #4dabf7;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
  display: inline-block;
}
.our-img {
  width: 100%;
  height: 25rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: hidden;
  margin-bottom: 3rem;
}
.our-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.our-para {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  color: #0c3256;
}
.box-list__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.box-list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 0.5rem;
}
.box-list_item--icon {
  background-color: #0c3256;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.box-list_item--icon svg,
.box-list_item--icon svg path {
  width: 12px;
  height: 12px;
  stroke: #fff;
  stroke-width: 3px;
}
/* SECTION STATISTICS */
#statistics {
  background: linear-gradient(to right top, #333, #444);
  position: relative;
  margin-top: 0;
  padding-top: 10rem;
}
#statistics .heading {
  z-index: 100;
  text-align: center;
  margin-top: 0;
  margin-bottom: 6rem;
  display: block;
  color: #fab005;
  font-size: 2.2rem;
}
#statistics .heading::before {
  background-color: #fab005;
}
#statistics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("images/polynom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #020b13;
  opacity: 1;
  background-blend-mode: overlay;
  z-index: 1;
}
.static-boxes {
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.static-boxes .box {
  font-size: 2.5rem;
  color: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.static-boxes .box .title-static,
.static-boxes .box .des-static {
  z-index: 2;
  position: relative;
}
.des-static {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.static-boxes .box::after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #07223a;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 50%;
  opacity: 0.7;
}
/* Products SECTION */
.products--boxes {
  grid-template-columns: 30rem 1fr;
  column-gap: 1rem;
  width: 100%;
  transition: grid-template-columns 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.products--box-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.buttons-productSection {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.products--box-buttons div:nth-child(2) {
  margin-top: 5rem;
  display: block;
}
/* TODO */
.products--box-buttons.sticky {
  width: 30rem;
  height: 100%;
  margin: 2rem 0;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
}
/**/
.product-button {
  text-align: left;
  width: 100%;
  border-radius: 0;
  font-size: 1.7rem;
  border-radius: 0 50px 50px 0;
  margin-bottom: 1rem;
  font-family: inherit;
  text-transform: capitalize;
}
.product-button:hover {
  color: #1971c2;
}
.product-button.active {
  background-color: #1971c2;
  color: #fff;
}
.products-box--products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  will-change: transform;
  transition: transform 0.4s ease;
}
.no-product {
  font-size: 1.6rem;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}
.product {
  background-color: #e7f5ff;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.product:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.product-img {
  width: 100%;
  height: 20rem;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.content-product {
  padding: 1.5rem;
  position: relative;
}
.product-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.product-des {
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn--product {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.3rem 2rem;
  text-transform: capitalize;
  transform: translate(-100%);
  font-size: 2rem;
  background-color: #4dabf7;
  color: #fff;
  border-radius: 1rem;
  opacity: 0;
}
.overlay-product {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}
.product:hover .btn--product {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 100;
}
.product:hover .overlay-product {
  opacity: 1;
}
.tags {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 3;
  gap: 0.3rem;
  text-transform: capitalize;
}
.product-model {
  background-color: #69db7c;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  color: #003409;
  font-weight: 500;
  border-radius: 0 1rem 1rem 0;
}
.product-status {
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0 1rem 1rem 0;
}
.product-status.new {
  background-color: #69db7c;
  color: #003409;
}
.product-status.popular {
  background-color: #cb0202;
  color: #fff;
}
.product-status.tag {
  background-color: #f76707;
  color: #000;
}
/* SECTION FEATURES */
.features {
  background-color: var(--bg-section);
  padding: 5rem 0;
}
.features-boxes {
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
#choose-us {
  padding-bottom: 0;
}
#choose-us .main-heading {
  max-width: 100%;
}
.feature--icon {
  width: 70px;
  height: 70px;
  position: relative;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 3.2rem;
}
.feature--icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  padding-bottom: 70px;
  background-color: #1766af;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(45deg);
}
.feature--icon svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.feature--icon svg path {
  stroke: #051727;
}
.feature--title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ccc;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}
.feature--desription {
  color: #bbb;
  font-size: 1.4rem;
  line-height: 1.8;
}
/* SECTION CONTACT US */
.cta {
  grid-template-columns: 2fr 1fr;
}
.cta-inputs {
  padding: 2rem;
  color: #333;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 2rem; */
  padding-right: 3.2rem;
  width: 100%;
  gap: 3.2rem;
  row-gap: 2.4rem;
  border-radius: 9px;
}
.cta-form label {
  display: block;
  font-family: inherit;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding-left: 2.5rem;
}
.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 1rem;
  background-color: #ccc;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.cta-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.cta-form input:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}
.valid-submit {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 1.2rem; */
  margin-top: 2rem;
}
.valid-submit div {
  flex: 0 0 60%;
  margin-right: 1rem;
}
.btn-form {
  display: inline-block;
  flex: 0 0 39%;
  background-color: var(--color-main);
  color: #fff;
  border-radius: 1rem;
}
.cta-img-box {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.cta-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20%;
}
.info-form {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
  max-width: 90%;
}
/* our project */
.section-projects {
  text-align: center;
}
.section-projects .main-heading {
  max-width: 100%;
  margin-bottom: 6rem;
}
.slider-container {
  max-width: 120rem;
  width: 100%;
  background: rgba(25, 113, 194, 0.1);
  backdrop-filter: blur(20px);
  padding: 4rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}
.slider-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: rgba(23, 102, 175, 0.05);
  padding: 2rem 2rem 4rem 2rem;
}
.slider-track {
  display: flex;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.pro__slide {
  flex: 0 0 calc(100% / 3 - 1.5rem);
  position: relative;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 1rem 30rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.pro__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 30%,
    rgba(255, 255, 255, 0.1) 50%,
    transparent 70%
  );
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.pro__slide:hover::before {
  transform: translateX(100%);
}
.pro__slide:hover {
  transform: translateY(-10px);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
.pro__slide:hover > .pro__content {
  bottom: 10px;
}
.pro__image {
  width: 100%;
  height: 40rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.pro__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro__content {
  position: absolute;
  bottom: -5%;
  left: 10px;
  background-color: #051727;
  text-align: left;
  min-width: 30rem;
  padding: 1.2rem 1.5rem;
  color: #fff;
  transition: bottom 0.3s ease;
}
.pro__content .tag {
  color: var(--color-main);
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
.title__pro {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.pro__local {
  font-size: 1.2rem;
  color: #ccc;
  text-transform: capitalize;
}
.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}
.btn--carousel {
  background: rgba(28, 126, 214, 0.2);
  border: 2px solid rgba(24, 100, 171, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--carousel svg {
  width: 30px;
  height: 30px;
}
.btn--carousel svg path {
  stroke: rgba(24, 100, 171, 0.9);
}
.btn--carousel:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}
.dots_carousel {
  display: flex;
  gap: 1rem;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid #1766af;
}
.dot.active {
  background-color: #228be6;
  transform: scale(1.2);
}
.dot::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}
.dot.active::after {
  text-align: center;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}
/* SECTION OUR PARTENAR */
#partenar {
  padding-bottom: 0;
  border-bottom: none;
}
#partenar .heading {
  max-width: 120rem;
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: var(--color-soft-gray);
  z-index: 100;
  padding: 1.5rem 100px;
  font-size: 1.8rem;
}
#partenar .heading::before {
  width: 100%;
  top: 50%;
  bottom: 0;
  right: -60%;
  z-index: -1;
}
#partenar .slider-container {
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
#partenar .heading::after {
  width: 100%;
  position: absolute;
  background-color: var(--color-main);
  height: 2px;
  content: "";
  top: 50%;
  bottom: 0;
  left: -60%;
  z-index: -1;
  transform: translateY(-50%);
}
#partenar .slider-wrapper {
  background-color: #fff;
}
.partenar {
  align-self: center;
  filter: grayscale(1);
  opacity: 0.5;
  transition: filter 0.3s ease, opacity 0.4s ease;
  cursor: pointer;
}
.partenar:hover {
  opacity: 1;
  filter: grayscale(0);
}
.partenar-logo {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 20px;
}
.partenar-logo img {
  width: 15rem;
  height: auto;
  object-fit: contain;
  object-position: center;
}
/* FOOTER */
.footer {
  background-color: #051727;
  margin-top: 5rem;
}

.footer .container {
  max-width: 140rem;
}
.footer .section {
  padding-bottom: 0;
  margin-top: 0;
  border-bottom: none;
}
.footer--boxes {
  padding: 5rem 0;
  grid-template-columns: 1fr 20rem 1fr 1.6fr;
  margin-bottom: 5.2rem;
  align-items: start;
  justify-content: start;
  gap: 2.5rem;
}
.copyright {
  border-top: 1.5px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ccc;
  font-size: 1.3rem;
  padding: 3.4rem 0;
}
.link-dev {
  color: #2074c4;
  font-weight: 500;
  text-decoration: none;
  font-family: inherit;
  transition: color 0.3s ease;
}
.link-dev:hover {
  color: #1766af;
}
.links-import {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.link-imp {
  color: #ccc;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.4s ease;
}
.links-import .center {
  color: #636363;
  font-size: 1.2rem;
}
.link-imp:hover {
  color: #125492;
}
.logo--box {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 2rem;
}
.logo--box img {
  width: 25rem;
  height: 9rem;
  object-fit: cover;
}
.logo--box p {
  color: #ccc;
  font-size: 1.3rem;
  line-height: 1.8;
  margin-top: 2rem;
}
.links--box {
  padding: 2rem 0;
}
.title-footer {
  font-size: 2.2rem;
  color: #ccc;
  margin-bottom: 2rem;
  display: block;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  list-style: none;
  padding-left: 1rem;
  overflow: hidden;
  padding-bottom: 2rem;
}
.nav-link,
.link-contact {
  color: #bbb;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.3s ease;
  display: inline-block;
}
.nav-link::before,
.link-contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #228be6;
  bottom: 0;
  left: 0;
  transform: translateX(-150%);
  transition: transform 0.3s ease;
}
.link-contact::before {
  width: 50%;
}
.nav-link:hover,
.link-contact:hover {
  color: #fff;
}
.nav-link:hover svg path,
.link-contact:hover svg path {
  stroke: #fff;
}
.nav-link:hover::before,
.link-contact:hover::before {
  transform: translate(0);
}
.info--box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
.info--box p {
  line-height: 1.8;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info--box svg {
  width: 25px;
  height: 25px;
}
.info--box svg path {
  stroke: #ccc;
  transition: stroke 0.3s ease;
}
.item-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  color: #ccc;
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
}
.newsletter--box {
  padding: 2rem;
}
.input-news {
  width: 100%;
  position: relative;
}
.input-news input {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
}
.input-news .form-news-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #228be6;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-news .form-news-btn:hover {
  background-color: #fff;
}
.input-news .form-news-btn:hover svg path {
  stroke: #1971c2;
}
.input-news .form-news-btn svg {
  width: 25px;
  height: 25px;
}
.input-news .form-news-btn svg path {
  transition: all 0.3s ease;
}
/* KEYFRAME */
@keyframes insert-pro {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-on-insert {
  animation: insert-pro 0.5s ease-out forwards;
}
/* About Page */
#page-header {
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 35rem;
}
.page-header--img {
  position: relative;
  width: 100%;
  height: 34rem;
  filter: blur(2px) grayscale(0.5);
}

.page-header--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 60%;
}
.page-header--img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #051727, #0c3256);
  z-index: 1;
  opacity: 0.8;
}
.main-content-header {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.page-header__inner {
  position: relative;
  display: block;
  padding: 0 0 70px;
  z-index: 15;
}
.header-title {
  font-size: 5rem;
  color: #fffefe;
  display: block;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 10rem;
  padding-top: 10rem;
  text-align: center;
  position: relative;
  text-shadow: 0 0 17px rgba(0, 0, 0, 0.3);
}
.header-title::before {
  content: "";
  position: absolute;
  width: 100000px;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 70%
  );
  z-index: -10;
  opacity: 0.1;
  backdrop-filter: blur(20px);
}
.breadcrumb__box {
  position: absolute;
  bottom: 0;
  right: -25%;
  z-index: 1;
}
.breadcrumb__box::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10000000px;
  left: 99%;
  background-color: var(--color-main);
  z-index: -1;
}
.breadcrumb__list {
  position: relative;
  display: block;
  background-color: var(--color-main);
  padding-left: 8rem;
  z-index: 1;
}
.breadcrumb__list::before {
  content: "";
  width: 1000000px;
  height: 7rem;
  position: absolute;
  right: 94%;
  bottom: -1px;
  background-color: var(--color-soft-gray);
  transform: skew(45deg);
}
.breadcrumb__list li {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  transition: all 0.5s ease;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
}
.breadcrumb__list li a {
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
  color: #fff;
  padding: 0.8rem 0 7px;
  text-decoration: none;
}
.breadcrumb__list li:hover,
.breadcrumb__list li a:hover {
  color: #07223a;
  cursor: pointer;
}
.breadcrumb__list li + li {
  margin-left: 0.5rem;
}
.about-boxes {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  margin-bottom: 12rem;
}
.box-info {
  padding: 2rem;
}
.main-heading-about {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 2.6rem;
  position: relative;
  width: fit-content;
  padding-bottom: 0.5rem;
}
.main-heading-about::before {
  width: 40%;
  height: 2px;
  background: var(--color-main);
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
}
.about-boxes .main-heading {
  font-size: 3.2rem;
}
.history-des {
  font-size: 1.5rem;
  line-height: 1.9;
  color: #555;
  font-weight: 400;
  margin-bottom: 2rem;
}
.contact-btn {
  background-color: var(--color-main);
  border-radius: 0.5rem;
  border: 1px solid var(--color-main);
  color: #fff;
  display: block;
  margin-top: 3.2rem;
  position: relative;
  overflow: hidden;
}
.contact-btn:hover {
  background-color: transparent;
  color: var(--color-main);
}
.contact-btn::after {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.contact-btn:hover::after {
  transform: translateX(0);
}
.box-img,
.box-img-left {
  min-height: 45rem;
  height: 100%;
  width: 100%;
  position: relative;
}
.box-img::before,
.box-img-left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-main);
  z-index: -1;
  top: 2rem;
  left: 2rem;
  transition: top 0.4s ease, left 0.4s ease;
}
.box-img-left::before {
  left: -2rem;
}
.box-img:hover::before {
  top: 0;
  left: 0;
}
.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-boxes .box-list__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#human-resource {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding-top: 12rem;
  padding-bottom: 0;
  position: relative;
}
#human-resource::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/backgound-sec.svg");
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 100% 390px;
}
#human-resource::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/backgound-sec.svg");
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: -100px -40px;
  background-size: 40%;
}
#human-resource .box-img {
  height: 40rem;
  position: relative;
}
.experience-inner {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(70%, -50%);
}
.experience-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 25rem;
  width: 100%;
  padding: 10px 30px 10px;
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.08);
  position: relative;
}
.experience-years {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-main);
  letter-spacing: 2px;
  line-height: 1.7;
}
.experience-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-left: 1.5rem;
}
.experience-box::before {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50px;
  border-top: 20px solid #fff;
  border-right: 44px solid transparent;
  border-left: 2px solid transparent;
}
/* HOW WE WORK */
#howWeWork {
  background: url("./images/filtrage.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 0;
  position: relative;
}
#howWeWork .container {
  padding-top: 10rem;
  z-index: 10;
  text-align: center;
}
#howWeWork .main-heading-about {
  color: #f1f1f1;
  width: 100%;
}
#howWeWork .main-heading-about::before {
  width: 100%;
  left: 50%;
  max-width: 100px;
  transform: translateX(-50%);
}
#howWeWork .main-heading {
  color: #fff;
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin: 3.2rem;
  display: block;
}
#howWeWork::before {
  background: linear-gradient(45deg, #051727, #0c3256);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.works-boxes {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
  position: relative;
}
.box-work {
  text-align: left;
}
.box-work .icon-box {
  background-color: #1971c2;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.box-work .svg-icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-work .svg-icon svg {
  width: 60px;
  height: 60px;
}
.box-work .svg-icon svg path {
  fill: #fff;
}
.box-work .number-step {
  position: absolute;
  top: 50%;
  right: -35%;
  background-color: #fff;
  font-size: 1.6rem;
  color: #020b13;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 50%;
  transform: translateY(-50%);
}
.box-work .title-step {
  font-size: 1.7rem;
  margin-top: 3.2rem;
  color: #f1f1f1;
  text-transform: capitalize;
  margin-bottom: 2.6rem;
}
.box-work .desc-step {
  font-size: 1.4rem;
  color: #bbb;
  line-height: 1.8;
  letter-spacing: 1px;
}
.box-work .contact-btn {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2.6rem;
}
/* CONTACT PAGE */
.contact-boxes {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  margin-top: 5.2rem;
}
.contact-box {
  border: 1px solid #ccc;
  position: relative;
  display: block;
  padding: 3rem 3rem 5rem;
  margin-bottom: 8rem;
  transition: all 0.5s ease;
}
.contact-box:hover {
  border: 1.5px solid var(--color-main);
}
.contact-box:hover .contact-info__btn-box::before,
.contact-box:hover .contact-info__btn a,
.contact-box:hover .contact-info__btn::after {
  background-color: var(--color-main);
  color: #f1f1f1;
}
.contact-info__btn-box {
  position: absolute;
  bottom: -50px;
  right: -1px;
}
.contact-info__btn-box::before {
  content: "";
  position: absolute;
  right: 0;
  top: -30px;
  width: 1px;
  height: 30px;
  background-color: #ccc;
  transition: all 0.5s ease;
}
.contact-info__btn {
  position: relative;
  display: block;
}
.contact-info__btn::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -15px;
  right: 1px;
  height: 1px;
  z-index: 2;
  background: var(--color-soft-gray);
}
.contact-info__btn a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #777;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  line-height: 12px;
  background-color: #dfe3ea;
  width: 16rem;
  height: 3.6rem;
  padding-left: 5.3rem;
  padding-right: 4.4rem;
  text-decoration: none;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 16% 100%);
  transition: all 0.5s ease;
  cursor: pointer;
}
.contact-info__btn::after {
  content: "";
  position: absolute;
  top: -18px;
  left: -4px;
  height: 31px;
  width: 1px;
  z-index: 2;
  background-color: #ccc;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.image-icon {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: end;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.image-icon svg {
  width: 70px;
  height: auto;
  transition: all 0.4s ease;
  transition-delay: 0.2s;
}
.contact-box:hover .image-icon svg {
  width: 80px;
}
.image-icon svg path {
  fill: var(--color-main);
}
.contact-box .box-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #777;
  margin-bottom: 3.2rem;
}
.contact-box .tag {
  font-size: 1.6rem;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.contact-box .desc-box {
  font-size: 1.3rem;
  color: #aaa;
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.contact-box .time-work {
  font-size: 1.5rem;
}
.contact-box .link-box {
  color: #666;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
  padding-left: 2rem;
  transition: all 0.4s ease;
  font-weight: 500;
  position: relative;
  width: fit-content;
  overflow: hidden;
  padding-bottom: 5px;
}
.contact-box .link-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  background: var(--color-main);
  bottom: 0;
  border-radius: 10px;
  left: 15px;
  transform: translateX(-110%);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contact-box .link-box:hover {
  color: var(--color-main);
}
.contact-box .link-box:hover::before {
  transform: translateX(0);
}
#google-map {
  width: 100%;
  height: 70rem;
  margin-top: 0;
  padding-bottom: 0;
  filter: grayscale(1);
  transition: filter 0.5s ease;
}
#google-map:hover {
  filter: grayscale(0);
}
#google-map iframe {
  width: 100%;
  height: 100%;
}
/* PROJECTS PAGE */
#content-page {
}
.projects-page {
  grid-template-columns: 25rem 1fr;
  column-gap: 3rem;
}
.nav-filter {
  list-style: none;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  position: relative;
}
.nav-filter .filter-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.nav-filter .filter-item::before {
  content: "";
  position: absolute;
  background-color: var(--color-main);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}
.nav-filter .active {
  color: #f1f1f1;
  font-weight: 600;
  position: relative;
  transition: all 0.5s ease;
}
.nav-filter .filter-item.active::before {
  transform: translateX(0);
}
.nav-filter .active svg path {
  stroke: #fff;
}
.filter-item {
  /* margin-bottom: 1.5rem; */
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-item span {
  margin-top: 1px;
}
.filter-item svg {
  width: 20px;
  height: 20px;
}
.nav-filter:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding: 0;
}
.cards-project {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 100%;
}
.card-project {
  position: relative;
  width: 100%;
  height: 30rem;
  display: block;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
}
.image-card {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.card-project .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #051727,
    transparent 100%,
    #051727 90%,
    #051727 0%
  );
  inset: 0;
  z-index: 2;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content-card {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 3.2rem;
  z-index: 10;
}

.btn-project {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-main);
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.btn-project svg {
  width: 25px;
  height: 25px;
}
.btn-project svg path {
  stroke: #f1f1f1;
}
.card-project:hover .btn-project {
  transform: scale(1);
}
.tag-card {
  font-size: 1.3rem;
  color: #f1f1f1;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 1rem;
}
.tag-card::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 10%;
  height: 2px;
  background-color: #228be6;
}
.title-project {
  font-size: 1.5rem;
  color: #f1f1f1;
  line-height: 1.2;
  text-transform: uppercase;
  transition: color 0.5s ease;
}
.title-project:hover {
  color: #228be6;
}
.card-project:hover .image-card::before {
  opacity: 1;
}
/* PAGINATION */
#pagination {
  border-bottom: none;
  margin-top: 2rem;
  padding-bottom: 0;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.pagination .page {
  border-radius: 50%;
  font-size: 1.8rem;
  color: #fefefe;
  background-color: var(--color-main);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination .page.active {
  font-weight: 600;
  background-color: #0c3256;
}
.pagination .page.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
/* SERVICES PAGE */
.services-page {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.services-page .card .card-img {
  position: relative;
}
.services-page .card a:hover {
  color: #1971c2;
  transition: color 0.4s ease;
}

.services-page .card .card-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #051727,
    transparent 100%,
    transparent 50%,
    #051727 0%
  );
  inset: 0;
  z-index: 2;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.services-page .card:hover .card-img::before {
  opacity: 1;
}
/* Single Page Service */
.servicePage {
  grid-template-columns: 35rem 1fr;
  column-gap: 2rem;
}
.sideBar .otherServices {
  list-style: none;
  gap: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.sideBar .otherServices .service {
  padding: 2rem 2rem;
  font-size: 1.4rem;
  background: #f8f9fa;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  transition: background 0.4s ease;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.sideBar .otherServices .service::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8f1f9;
  z-index: -1;
  border-left: 3px solid var(--color-main);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}
.sideBar .otherServices .service a {
  width: 100%;
}
.sideBar .otherServices .service:hover::before {
  transform: translateX(0);
}
.sideBar .otherServices .service.active::before {
  transform: translateX(0);
}
.sideBar .card-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #307fc8;
  padding: 2rem 0;
  margin-top: 3.2rem;
}
.sideBar .card-phone .icon-card {
  width: 70px;
  height: 70px;
  background-color: #051727;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
  transition: transform 0.4s ease;
}
.sideBar .card-phone:hover .icon-card {
  transform: scale(1.1);
}
.sideBar .card-phone:hover .icon-card::before {
  opacity: 0;
}
.sideBar .card-phone .icon-card::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
  opacity: 0.1;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease;
}

.sideBar .card-phone .icon-card svg {
  stroke: #f1f1f1;
  width: 40px;
  height: auto;
}
.title-card {
  font-size: 1.9rem;
  color: #f1f1f1;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
  max-width: 70%;
  text-align: center;
}
.second-title-card {
  font-size: 1.4rem;
  color: #eee;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.number-card {
  font-size: 2rem;
  color: #eee;
  font-weight: 600;
  margin-bottom: 3.2rem;
  transition: color 0.4s ease;
}
.number-card:hover {
  color: #051727;
}
.mainImage {
  width: 100%;
  height: 60rem;
  position: relative;
  overflow: hidden;
}
.mainImage::after {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(
    to top,
    #f1f1f1 0%,
    #f1f1f1 20%,
    transparent 75%,
    transparent 100%
  );
  pointer-events: none;
}
.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContent .title-post {
  position: absolute;
  bottom: 10%;
  left: 0;
  font-size: 4.2rem;
  padding: 0 2rem;
  z-index: 100;
  width: 100%;
  color: #051727;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 45px;
  text-align: center;
  text-shadow: 0px 4px #f1f1f1;
  margin-bottom: 3.2rem;
  box-shadow: inset 0 0px 20px rgba(241, 241, 241, 0.2);
}
.mainContent .project-title-page::first-letter {
  font-size: 7rem;

  margin-right: -0.1rem;
}
.list-propos {
  position: relative;
  /* top: -30px; */
  padding-left: 3rem;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.list-propos .item-propos {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.mainContent .list-propos .icon svg {
  width: 25px;
  height: 25px;
  stroke: var(--color-main-darker);
}
.mainContent .desc-title {
  font-size: 2rem;
  margin-bottom: 3.2rem;
  color: #777;
}
.para-content {
  margin-bottom: 3.2rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 1.9;
  color: #333;
  font-weight: 400;
}
.quotation {
  font-size: 1.6rem;
  background-color: #e8f1f9;
  padding: 2rem;
  border-left: 3px solid #1971c2;
  line-height: 1.7;
  margin-bottom: 3.2rem;
  font-weight: 500;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.09);
  display: block;
}
.btn-page {
  border: none;
  background-color: var(--color-main);
  padding: 1rem 2rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  border: 2px solid var(--color-main);
  border-radius: 5px;
  display: inline-block;
  color: #f1f1f1;
  transition: all 0.4s ease;
}
.btn-page:hover {
  background-color: #e8f1f9;
  color: #333;
}
.btn-page span {
  transition: all 0.4s ease-in-out;
  margin-left: 0;
}

.btn-page:hover span {
  margin-left: 1rem;
}
/* Project Single Page */
.projectPage {
  grid-template-columns: 1fr 35rem;
  column-gap: 3rem;
}
/* Loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #1971c2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* Single Page Project */
.bar-container {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: var(--color-soft-gray);
  margin-bottom: 1.9rem;
}
.bar-inner {
  position: relative;
  display: block;
  width: 0px;
  height: 5px;
  background: var(--color-main);
  transition: all 1.5s ease;
}
.bar-text {
  opacity: 1;
  position: absolute;
  right: 0;
  bottom: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: 500;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}
.infoProject {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  background: #051727;
  border-top: 3px solid var(--color-main);
  margin-bottom: 3.2rem;
  padding: 5rem 4rem;
}

.item-info {
  width: 100%;
  margin-bottom: 3.2rem;
  color: #eee;
}

.item-info .name-info {
  /* margin-bottom: 1.2rem; */
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-weight: 600;
  display: block;
}
.item-info div .name-info {
  margin-bottom: 1.5rem;
}
.item-info .data-info {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #ccc;
}
.statics-bars .item-info {
  margin-bottom: 1.2rem;
}
.item-info .data-info::first-letter {
  letter-spacing: 4px;
}
.images-container {
  width: 100%;
  max-width: 82rem;
  margin-bottom: 3.2rem;
}
.images-container .images {
  overflow: hidden;
}

.images-container .images .images-track {
  display: flex;
  /* gap: 2rem; */
}
.images-container .images .images-track .img {
  flex: 0 0 calc((100% / 3) - 1.4rem);
  width: 150px;
  height: 250px;
  background-color: #051727;
  margin-right: 1.5rem;
}
/* Blogs Page */
.blogsPage {
  grid-template-columns: 1fr 30rem;
  column-gap: 3rem;
  height: 100%;
}
.blog-card {
  width: 100%;
  min-height: 40rem;
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5.2rem;
  display: block;
}
.video-blog {
  width: 100%;
  height: 40rem;
  filter: blur(5px) grayscale(1);
  transition: filter 0.4s ease;
  margin-bottom: 2rem;
}
.video-blog:hover {
  filter: blur(0) grayscale(0);
}
.video-blog:hover ~ .id-blog {
  opacity: 0;
}
.title-blog {
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 3.2rem;
}
.id-blog {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
  font-size: 10rem;
  color: #f1f3f5;
  font-weight: 700;
  text-shadow: 1px 0px 5px #000;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.sideBar {
  width: 100%;
}
.other-link {
  font-size: 1.6rem;
  margin-left: 3rem;
  list-style: none;
  background-color: #051727;
  color: #eee;
  padding: 2rem 0;
  width: 100%;
  border-top: 4px solid #1766af;
}
.link-side {
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.link-side:hover {
  background-color: #125492;
}
.link-side.active {
  background-color: #125492;
}
/* Responsive */
@media (max-width: 1200px) {
  .container {
    padding: 4rem;
  }
  .section {
    width: 100%;
  }
  .cards,
  .static-boxes,
  .features-boxes,
  .products-box--products {
    grid-template-columns: repeat(2, 1fr);
  }
  .static-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .static-boxes .box {
    margin-bottom: 8rem;
  }
  .footer--boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  /* .links--box{
    column
  } */
  .slide {
    grid-template-columns: 50% 50%;
  }
  .close {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 910px) {
  .nav {
    position: relative;
    z-index: 10000;
  }
  .nav__links {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  .mobile-menu {
    z-index: 100000;
    opacity: 1;
    left: 93%;
  }
  .mobile-menu.openbtn {
    top: 50%;
    transform: translateY(-50%);
  }
  .main-heading {
    font-size: 3.2rem;
  }
  .boxes-about {
    grid-template-columns: 1fr;
  }
  .cards {
    justify-content: center;
  }
  .our-service--3 {
    grid-column: 1 /-1;
  }

  .container {
    max-width: 100%;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 20rem;
  }
  .cta-img-box img {
    object-position: center 30%;
  }
}
@media (max-width: 650px) {
  .slide {
    grid-template-columns: 1fr;
    grid-template-rows: 35% 50%;
    grid-template-areas:
      "image"
      "content";
  }
  .our-service--3 {
    grid-column: 1;
  }
  .slide .content {
    padding-left: 0;
    align-self: flex-start;
  }
  .slider {
    height: 100vh;
  }
  .slider .para {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .header-img::after {
    background: linear-gradient(
      to top,
      rgba(241, 241, 241, 1) 0%,
      rgba(241, 241, 241, 0) 25%,
      rgba(241, 241, 241, 0) 75%,
      rgba(241, 241, 241, 0) 100%
    );
  }
  .dots {
    bottom: 65%;
  }
}
@media (max-width: 520px) {
  .cards,
  .features-boxes,
  .products-box--products,
  .footer--boxes {
    grid-template-columns: 1fr;
  }
  .section {
    margin-top: 0rem;
  }
  .static-boxes {
    grid-template-columns: 1fr 1fr;
  }
  .nav {
    padding: 2rem 10rem 2rem 0;
  }
  .main-heading {
    font-size: 2.3rem;
    margin-bottom: 0;
    max-width: 80%;
    margin-right: 2rem;
  }
  .features-boxes {
    text-align: center;
  }
  .feature--icon {
    margin: 0 auto 3.2rem;
  }
  .container {
    padding: 2rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
  .cta-img-box {
    height: 15rem;
  }
  .links--box {
    margin: 0 auto;
  }
  .footer--boxes .box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .nav-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  .nav-item,
  .item-contact {
    overflow: hidden;
  }
  .copyright {
    flex-direction: column;
    gap: 2rem;
  }
  .top-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 4rem;
    padding-top: 1rem;
  }
  .nav-top__item.work,
  .nav-top__item.position {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  .nav-top__item.work svg,
  .nav-top__item.position svg {
    margin-top: 2rem;
  }
  .box-list__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 370px) {
  .static-boxes {
    grid-template-columns: 1fr;
  }
}
.close-product {
  grid-template-columns: 4rem 1fr;
}
.showMenu {
  transform: translate(0);
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
